.yarl__container {
  background-color: rgba(0, 0, 0, 0.56) !important;
  cursor: pointer !important;
}

.yarl__container .yarl__navigation_prev,
.yarl__container .yarl__navigation_next {
  border: 1px solid white;
  border-radius: 50% !important;
  padding: 0px !important;
  margin: 0px 12px !important;
}
.yarl__slide_wrapper img {
  height: 800px !important;
  width: 800px !important;
  object-fit: contain !important;
}
