.decline-cookie-btn {
  color: #3d3712 !important;
  background: transparent !important;
}

#rcc-confirm-button {
  background: #009b2f !important;
  color: white !important;
  border-radius: 4px !important;
  border: 1px solid rgba(61, 55, 18, 0) !important;
  box-shadow: 2px 1px 4px 0px rgba(87, 87, 87, 0.25) !important;
}

.CookieConsent {
  box-shadow: -1px 0px 4px 0px rgba(90, 89, 89, 0.25);
  box-shadow: -1px 0px 4px 0px rgba(90, 89, 89, 0.25);
}

.CookieConsent button {
  font-size: 14px !important;
}
