$customGradient: linear-gradient(
  180deg,
  #106b2c 0%,
  #03922e 50.04%,
  #009b2f 100%
);
.bg-gradient-to-b {
  background: $customGradient;
}

.btn {
  @apply px-4 py-2;
  &.hover-effect:hover {
    @apply bg-gradient-to-b;
  }
  &.focus-btn:focus {
    @apply bg-primary-dark;
  }
  &.focus-btn-white:focus {
    @apply bg-primary-main text-white;
  }
  &.active-btn:active {
    @apply bg-primary-dark;
  }
  &.width-md {
    @apply w-[150px];
  }
  &.width-sm {
    @apply w-[100px];
    @apply text-t-caption;
  }
  &.width-full {
    @apply w-full;
  }
  &.custom-background {
    background-color: #009b2f;
  }
}

.btn-outline {
  &.outline-hover-effect:hover {
    @apply text-primary-dark;
    @apply border border-primary-dark;
  }
}

.btn-white-background {
  &.hover-effect:hover {
    @apply text-white;
  }
}

// .btn-outline:hover::before {
//   content: "";
//   position: absolute;
//   top: -1px;
//   left: -1px;
//   right: -1px;
//   bottom: -1px;
//   border: 3px solid transparent;
//   border-image: $customGradient;
//   border-image-slice: 1;
//   border-radius: 10px;
//   z-index: -1;
// }

@media (max-width: 300px) {
  .btn.width-sm {
    font-size: 12px;
    height: 30px;
    padding: 0px;
  }
}
