.instagram-slider {
  padding: 20px 100px;

  @media only screen and (max-width: 1400px) {
    padding: 20px 30px;
  }
}

.grid-wrapper {
  padding: 20px 30px;
  @media only screen and (max-width: 1021px) {
    grid-template-columns: 1fr 1fr;
    gap: 13px;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
