@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input {
  -webkit-box-shadow: 0 0 0 30px #fff inset;
  -moz-box-shadow: 0 0 0 30px #fff inset;
  -o-box-shadow: 0 0 0 30px #fff inset;
  box-shadow: 0 0 0 30px #fff inset;
}

// navbar

.hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 1px;
  @apply bg-secondary-500;
  transition: transform 0.4s ease-in-out;
}

.hamburger-lines .line1 {
  transform-origin: 0% 0%;
}

.hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
  transform-origin: 0% 100%;
}

.checked .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.checked .hamburger-lines .line2 {
  transform: scaleY(0);
}

.checked .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.scrollbar::-webkit-scrollbar-track,
.css-1n6sfyn-MenuList::-webkit-scrollbar-track,
.scrollbar-x::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: #f5f5f5;
}

.scrollbar::-webkit-scrollbar,
.css-1n6sfyn-MenuList::-webkit-scrollbar,
.scrollbar-x::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 3px;
  @apply bg-primary-main;
}
.css-1n6sfyn-MenuList::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #4e4c43;
}
.scrollbar-x::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background: gray;
}

.scrollbar-x::-webkit-scrollbar-thumb {
  border-radius: 10px;
  @apply bg-secondary-800;
}

.mobile-locale-logo svg {
  border-radius: 100%;
  width: 22px;
  height: 22px;
}

.locale-items svg {
  width: 18px;
}

.react-datepicker {
  position: relative;
}

.text-overflow-clamp {
}

.lg-text-overflow-clamp {
  width: 100%;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -webkit-box;
}

.book-now {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid-shadow {
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.49) 100%
  );
}

.react-multiple-carousel__arrow {
  background: rgba(0, 0, 0, 0.17) !important;
  z-index: auto !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.break-word {
  word-break: break-word;
}

.offer-inclusions ul li {
  display: flex;
}

.offer-inclusions ul li::before {
  color: transparent;
  font-size: 1px;
  content: " ";
  margin-left: -1.3em;
  margin-right: 15px;
  padding: 10px;
  background-color: black;
  -webkit-mask-image: url("../components/icons/Offers/Inclusions.svg");
  -webkit-mask-size: cover;
}

// media styles

@media (max-width: 340px) {
  .logo-container img {
    width: 100px !important;
  }
  .checked .hamburger-lines .line1 {
    transform: rotate(40deg) !important;
  }
  .checked .hamburger-lines .line3 {
    transform: rotate(-40deg) !important;
  }
  .hamburger-lines .line {
    height: 2px !important;
  }
}

@media (max-width: 760px) {
  .react-datepicker > div {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 400px !important;
  }
  .text-overflow-clamp {
    width: 100%;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
  }
}

@media (max-width: 1225px) and (min-width: 1023px) {
  .book-now-container {
    width: 70% !important;
  }
}

@media (min-width: 1000px) {
  .slide-view {
    display: grid !important;
    grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
    gap: 2rem !important;
  }
}

.scroll-margin {
  scroll-margin: 100px;
}

.react-select-container input {
  box-shadow: none;
}

// policy page list items

.list-disc-policy {
  list-style: disc;
  padding-left: 20px;
}

.list-decimal-policy {
  list-style: decimal;
  padding-left: 20px;
}

.list-disc-force > ul > li {
  list-style: disc;
}

.list-disc-force-margin > ul > li {
  list-style: disc;
  margin-top: 10px;
  margin-left: 25px;
}

strong {
  font-weight: 700;
}
