.prev-btn,
.next-btn {
  position: absolute;
  transform: translateY(-50%);
  width: unset;
  background: rgba(0, 0, 0, 0.17);
  border-radius: 50%;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.carousel .thumb.selected,
.carousel .thumb:hover {
  border: 1px solid black !important;
}

.carousel .thumb img {
  height: 80px !important;
}

.carousel li {
  padding: 0px !important;
  // margin-right: 1px !important;
}

.carousel .thumbs-wrapper {
  margin: 4px 0px !important;
}

.spaced-carousel .slider-wrapper .slider .selected {
  margin: 0rem 1.4rem !important;
  width: auto;
}

.main-banner-carousel .carousel .slider-wrapper .slider {
  position: relative;
  z-index: 20;
}

@media (max-width: 1000px) {
  .spaced-carousel .slider-wrapper .slider .selected {
    margin: 0rem 0.4rem !important;
  }
}
